body, html, div, section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: LatoWeb;
    word-wrap: break-word;
}

.success-color {
    color: #09d261
}

.warning-color {
    color: red;
}

.button-wrapper, input {
    border-radius: 5px;
}

.button-wrapper, input {
    border: 1px solid rgba(100, 100, 100, .1);
}

input {
    box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.075) inset, 0 1px 2px rgba(100, 100, 100, 0.6);
}

input {
    margin: 12px 0;
}

.button-wrapper {
    overflow: hidden;
    display: inline-block;
    margin: 8px;
}

button, input {
    padding: 10px 16px;
}

button {
    min-width: 96px;
    border: none;
    background: transparent;
}

.item-text, input {
    display: block;
}

.title, .subtitle, .item-title, .items-holder {
    text-align: center;
}

.title, .subtitle, .item-title {
    padding: 16px;
}

.item-text {
    padding: 16px 0;
}

input {
    font-size: 14px;
}

.item-text {
    font-size: 16px;
}

.item-title {
    font-size: 18px;
}

.item-container {
    min-width: 120px;
}

.subtitle {
    font-size: 24px;
}

.title, .message-view {
    font-size: 32px;
}

.button-wrapper:hover > button {
    background: rgba(100, 100, 100, .4);
    cursor: pointer;
}

.button-wrapper:active {
    box-shadow: rgba(50, 50, 50, .5) 0 3px 8px 0;
    transition: .2s;
}