<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fluent City Code Challenge</title>

    <link href="{{ url_for('static', filename='css/styles.css',q=[css]) }}" rel="stylesheet">
</head>
<body>

<section id="database-content-management" style="display: flex;">
    <div style="margin: auto;">
        <div class="title">
            <span>
                Database Tool Management
            </span>
        </div>
        <div>
            <div>
                <div class="subtitle">
                    <span>
                        Pre-build Database Operations
                    </span>
                </div>
                <div style="display: flex;">
                    <div class="button-wrapper">
                        <button id="build-db-btn">
                            Build Database
                        </button>
                    </div>
                    <div class="button-wrapper">
                        <button id="populate-db-btn">
                            Populate Database
                        </button>
                    </div>
                    <div class="button-wrapper">
                        <button id="delete-db-btn">
                            Destroy Database
                        </button>
                    </div>
                </div>
            </div>
            <div style="max-width: 500px;word-wrap: break-word;">
                <div class="subtitle">
                    <span>
                        Post Build database Operations
                    </span>
                </div>
                <div style="display: inline-block;">
                    <div class="button-wrapper">
                        <button id="add-btb">
                            <span>
                                Create
                            </span>
                        </button>
                    </div>
                    <div class="button-wrapper">


                        <button id="find-by-id-btn">
                            <span>
                                Read
                            </span>
                        </button>
                    </div>
                    <div class="button-wrapper">

                        <button id="update-btn">
                            <span>
                                Update
                            </span>
                        </button>
                    </div>
                    <div class="button-wrapper">

                        <button id="delete-btn">
                            <span>
                                Delete
                            </span>
                        </button>
                    </div>
                    <div class="button-wrapper">

                        <button id="get-all-btn">
                            <span>
                                List
                            </span>
                        </button>
                    </div>
                    <div class="button-wrapper">
                        <button id="find-by-name-btn">
                            <span>
                               Search
                            </span>
                        </button>
                    </div>

                    <div class="button-wrapper">


                        <button id="add-attr-btn">
                            <span>
                                Add Attribute
                            </span>
                        </button>
                    </div>

                    <div class="button-wrapper">
                        <button id="del-attr-btn">
                            <span>
                                Remove Attribute
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-view">
    <div>
        <div>
            <div class="title">
                <span>
                     Console View
                </span>
            </div>
            <div>
                <div id="api-action-title" class="subtitle">
                    <span>
                         API Actions
                    </span>
                </div>
                <div id="action-view-content" style="display: flex;">
                    <div id="action-view-wrapper" style="margin: auto; display: block">
                        <input type="text" placeholder="Input item id" name="product_id">
                        <input type="hidden" name="action">
                    </div>
                </div>
            </div>


            <div>
                <div class="subtitle">
                    <span>
                         Item List
                    </span>
                </div>

                <div id="content-view-content" style="display: flex;">
                    <div id="content-view-wrapper" style="margin: auto; display: flex">
                        <div id="item-id" class="item-container">
                            <div class="item-title">
                            <span>
                                ID
                            </span>
                            </div>
                            <div class="items-holder">

                            </div>
                        </div>
                        <div id="item-name" class="item-container">
                            <div class="item-title">
                            <span>
                                Name
                            </span>
                            </div>
                            <div class="items-holder">

                            </div>
                        </div>
                        <div id="item-price" class="item-container">
                            <div class="item-title">
                            <span>
                                Price
                            </span>
                            </div>
                            <div class="items-holder">

                            </div>
                        </div>
                        <div id="item-category" class="item-container">
                            <div class="item-title">
                                <span>
                                    Category
                                </span>
                            </div>
                            <div class="items-holder">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/jquery3.js',q=[css]) }}"></script>
<script src="{{ url_for('static', filename='js/js.js',q=[css]) }}"></script>
</body>
</html>